arch_netmiko
.bash_history
.bash_logout
.bash_profile
.bashrc
books
.cache
.cargo
catppuccin-kde/
coding
.config/autostart
.config/background
.config/BetterDiscord
.config/BetterDiscord Installer
.config/dconf
.config/discord
.config/EOS-greeter.conf
.config/eos-update-notifier.first_init
.config/evolution
.config/gnome-control-center
.config/.gsd-keyboard.settings-ported
.config/gtk-3.0
.config/gtk-4.0
.config/libreoffice
.config/mimeapps.list
.config/nushell
.config/pulse
.config/qBittorrent
.config/QtProject.conf
Desktop
Documents
dotfiles/
dots/
Downloads
FlipperAmiibo/
games/
.gnupg
GoMac/
.gtkrc-2.0
.hyprland
.icons
.java
.librewolf
Lightworks
.Lightworks.thereCanBeOnlyOne
.local
.mozilla
mozilla.pdf
Music
openvpn
.parallel
paru/
Pictures
.pki
.rnd
scripts
simplex-desktop-appimage/
.ssh
.SynologyDrive
Syn_Movies/
Syn_TV/
Videos
.wget-hsts
yay/
