.SynologyDrive
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.cargo
.config/BetterDiscord
.config/BetterDiscord Installer
.config/EOS-greeter.conf
.config/QtProject.conf
.config/autostart
.config/background
.config/dconf
.config/discord
.config/evolution
.config/gnome-control-center
.config/gtk-3.0
.config/gtk-4.0
.config/libreoffice
.config/mimeapps.list
.config/nushell
.config/pulse
.config/qBittorrent
.gnupg
.icons
.librewolf
.local
.mozilla
.pki
.ssh
Documents
Downloads
Music
Pictures
coding
dots/
openvpn
scripts
.config/.gsd-keyboard.settings-ported
.config/eos-update-notifier.first_init
