"$schema" = 'https://starship.rs/config-schema.json'

format = '''
$os $directory$git_status$rust$python$golang
[>](yellow) 
'''

add_newline = true

[username]
show_always = true
style_user = 'text'
style_root = 'red'
format = "[$user ]($style)"

[os]
style = "peach"
disabled = false

[os.symbols]
Arch = "󰣇 "
Artix = " "
EndeavourOS = " "
NixOS = "󱄅 "

# Coding
[rust]
format = '[ ](red)'

[python]
format = '[ ](green)'

[golang]
format = '[ ](blue)'


[directory]
truncation_length = 3
truncation_symbol = "…/"
read_only = " "

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "

# Catppuccin
palette = 'catppuccin_mocha'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
