[[language]]
name = "python"
scope = "source.python"
injection-regex = "python" 
file-types = ["py", "pyi", "py3", "pyw", ".pythonstartup", ".pythonrc"]
shebangs = ["python"] 
roots = [".", "pyproject.toml", "pyrightconfig.json"]
comment-token = "#" 
language-servers = [ "ruff-lsp", "pylsp"]
formatter = { command = "ruff format ", args = ["--stdin"] }
auto-format = true

[language-server.ruff-lsp] 
command = "ruff-lsp" 
args = [] 
config = {}
